doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.1.js')
    script(type='text/javascript', src='javascripts/third-party/underscore-min.js')
    script(type='text/javascript', src='javascripts//main.js')
    script(type='text/template', src='templates/pagetreeitem.html', id='pagetreeitem')
  body
    block content